:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 1rem;
  color: #333;
  text-align: center;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
}
#file-info {
  margin: 10px 0;
  font-size: 0.85rem;
  color: #666;
}
button {
  background: #646cff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #535bf2;
}
